/LinqConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.idea/.idea.LinqConsoleApp/.idea/encodings.xml
/.idea/.idea.LinqConsoleApp/.idea/indexLayout.xml
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.AssemblyInfo.cs
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.AssemblyInfoInputs.cache
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.assets.cache
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.csproj.CoreCompileInputs.cache
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.csproj.FileListAbsolute.txt
/LinqConsoleApp/obj/LinqConsoleApp.csproj.nuget.dgspec.json
/LinqConsoleApp/obj/LinqConsoleApp.csproj.nuget.g.props
/LinqConsoleApp/obj/LinqConsoleApp.csproj.nuget.g.targets
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.csprojAssemblyReference.cache
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.deps.json
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.dll
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.dll
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.exe
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.exe
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.genruntimeconfig.cache
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.pdb
/LinqConsoleApp/obj/Debug/netcoreapp3.1/LinqConsoleApp.pdb
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.runtimeconfig.dev.json
/LinqConsoleApp/bin/Debug/netcoreapp3.1/LinqConsoleApp.runtimeconfig.json
/.idea/.idea.LinqConsoleApp/.idea/misc.xml
/LinqConsoleApp/obj/project.assets.json
/LinqConsoleApp/obj/project.nuget.cache
/LinqConsoleApp/obj/project.packagespec.json
/.idea/.idea.LinqConsoleApp/riderModule.iml
/.idea/.idea.LinqConsoleApp/.idea/vcs.xml
